.vcontainer {
    width: 100%;
    margin-inline: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    margin-top: 2rem;
    background-color: #ffffff;
}

.toolbar-container {
    padding: 0.5rem;
    border-bottom: 1px solid #e5e7eb;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    box-sizing: border-box;
}

.toolbar> :not([hidden])~ :not([hidden]) {
    margin-left: 0.5rem;
}

.toolbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    cursor: pointer;
}


.h-24 {
    height: 24px;
}

.color-pickers {
    display: flex;
    align-items: center;
    gap: 8px;
}

.color-pickers label {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 2.1px 5px;
    box-shadow: none;
}

.color-pickers label span {
    font-size: 0.875rem;
    color: #374151;
}

.toolbar input[type="color"] {
    border: none;
    background: none;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-left: 2px;
    cursor: pointer;
}

.toolbar .dropdown-label {
    font-weight: 500;
    font-size: 1rem;
    padding: 0.35rem 0.7rem;
}

.veditor-area {
    min-height: 400px;
    max-height: 400px;
    overflow: scroll;
    padding: 0.5rem;
    padding-top: 0px;
    background: #ffffff;
    color: #1f2938;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.log-console {
    min-height: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #000000;
    color: #34D399;
    font-size: 0.875rem;
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: auto;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    text-align: left;
}

.dropdown-btn {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    padding: 0.25rem 0.75rem;
    background-color: #ffffff;
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
    transition: background-color 0.2s;
}

.dropdown-btn:hover {
    background-color: #F3F4F6;
}

.dropdown-btn svg {
    margin-right: -0.25rem;
    margin-left: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
    width: 11rem;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.05);
    transform-origin: top left;
}

.dropdown-item {
    border: none !important;
    display: block !important;
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: #374151;
    background-color: transparent;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #F3F4F6;
}

.label-muted {
    font-size: 0.75rem;
    font-weight: 600;
    color: #9CA3AF;
    padding: 0.25rem 0.5rem;
}

.image-resize-popup button {
    font-size: 12px;
    padding: 2px 6px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.image-resize-popup button:hover {
    background: #ddd;
}

.color-pickers input {
    height: 22px;
    width: 22px;
}

.alert-info {
    background: #e7f3fe;
    border: 1px solid #b3d7ff;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.alert-warning {
    background: #fff3cd;
    border: 1px solid #b3d7ff;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.alert-success {
    background: #d4edda;
    border: 1px solid #b3d7ff;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}

.alert-blue {
    background-color: #eff6ff !important;
    border-left: 4px solid #3b82f6 !important;
    padding: 10px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-bottom: 2rem;
}

.alert-blue p {
    color: #374151;
    font-size: 1.125rem;
    line-height: 1.625;
}

.alert-pink {
    background: #fbf4fb !important;
    padding: 10px;
    border-radius: 0.75rem;
    border: 1px solid #f3e8ff;
}

.alert-orange {
    background-color: #fff7ed;
    border-left: 4px solid #f97316;
    padding: 10px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.alert-green {
    background-color: #ecfdf5;
    border-left: 4px solid #10b981;
    padding: 10px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.etable {
    border-collapse: collapse;
    margin: 8px 0;
}

.etable td {
    border: 1px solid #d1d5db !important;
    padding: 10px !important;
    width: 1%;
}

.etable th {
    background-color: #f3f4f6;
    padding: 6px;
    text-align: left;
}

.etable th,
.etable td {
    border: 1px solid #d1d5db;
    padding: 6px;
}